.button {
  border: none;
  background-color: transparent;
}

.thumbnail-img {
  border: none;
  border-radius: 10px;
  margin-right: 12px;
  margin-top: 12px;
  height: 40px;
  width: 40px;
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .thumbnail-img {
    margin-right: 15px;
    height: 60px;
    width: 60px;
  }
}

.active-thumbnail {
  opacity: 1;
}
